*{
  margin: 0;
  padding: 0;
  list-style: none;
}
header{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  background-color: black;
}
nav{
  border: 1px solid #ffffff;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}
.context{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
 
  font-size: 1.5rem;
  align-items: center;

}
.image-container{
  padding: 10%;
}
.link-container{
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10%;
  justify-content: center;
  align-items: stretch;
}
.link-container li{
  margin-bottom: 10%;
  font-size: 2rem;
  margin: 10%;

}
.link-container li a{
  text-decoration: none;
  
}

.image-container img{
  max-width: 100%;
  border-radius: 50%;
  
}
.toggle-btn{
  position: absolute;
  top: 10px;
  right:10px;
  font-size: 3rem;
  color: crimson;
  animation: glowing 2300ms infinite;
  display:none;
}
.toggle-btn:hover{
  
  animation: none;
}
.dark{
  color: #fff;
}
.light{
  color: black;
}




@media only screen and (max-width: 1000px) {
  .context{
    display: none;
  }
  nav{
    width: 100%;
  }
  .toggle-btn{
    display: block;
  }
}



@keyframes glowing {
  0% {
    color: red;
    box-shadow: 0 0 3px #fff;
  }
  50% {
    color: white;
    box-shadow: 0 0 10px red;
  }
  100% {
    color: red;
    box-shadow: 0 0 3px #fff;
  }
}


